*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
}
#header-img{
    width: 300px;
    height: 34.138px;
}
#header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: white;
}
.nav-menu{
    padding-right:80px;
    display: flex;
    gap: 100px;
}
.nav-menu>li{
    list-style: none;
}
.nav-menu >li >a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    margin-top: 80px;
    width: 100%;
    gap: 15px;
}
#form > h2{
    text-align: center;
}
#form > input#email{
    width: 300px;
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    border: black solid 1px;
}
#form > input#submit{
    width: 200px;
    height: 40px;
    background-color: orange;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    
}
#form > input#submit:hover{
    background-color: yellow;
    transition: all 0.5s ease-in-out;
}

/* Section Features */
section#features{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 60px;
    padding: 0 20px;
}
#features > .feature{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.icon{
    text-align: center;
    color: orange;
    width: 100px;
}
.description{
    width: 780px;
    text-align: start;
}

/* section how it works */
section#how-it-works{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}
#video{
    width: 550px;
}
/* section Pricing */
section#pricing{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    width: 300px;
    height: 300px;
    border: solid black 1px;
}
.title{
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}
.detail{
    padding: 20px;
    text-align: center;
}
.detail > .space{
    margin-top: 20px;
}
.detail > p{
    margin-top: 10px;
}
.detail > button{
    width: 100px;
    margin-top: 30px;
    height: 35px;
    font-size: 1.2em;
    border: none;
    background-color: orange;
}
/* Footer */
footer{
    text-align: end;
    width: 100%;
    max-width: 980px;
    margin: 40px auto 0;
    padding: 20px;
    background-color: #ddd;
}
.link-footer > .list{
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 10px;
}
.list > li >a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.copyright{
    margin-top: 10px;
}
/* Responsive */
@media (max-width: 1024px) {
    .nav-menu{
        padding-right: unset;
        gap: 20px;
    }
}
@media (max-width: 700px) {
    .nav-menu{
        display: block;
        text-align: center;
    }
    #nav-bar{
        width: 100%;
    }
}
@media (max-width: 600px) {
    #header{
        display: block;
        text-align: center;
        padding-top: 20px;
        height: 120px;
    }
}
@media (max-width: 500px) {
    .icon{
        display: none;
    }
    .description{
        width: 100%;
        text-align: center;
    }
    #pricing{
        flex-wrap: wrap;
    }
}